In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn import datasets, linear_model
from sklearn.svm import SVC
from sklearn.neural_network import MLPClassifier

In [3]:
attribute = ['Win', 'Cluster ID', 'Game mode', 'Game type']
attribute += ['Hero%d' %(i+1) for i in range(113) ]
#attribute += [i for i in range(113) ]
train = pd.read_csv("dota2Train.csv",names=attribute)
test = pd.read_csv("dota2Test.csv",names=attribute)
train.head(5)

,Win,Cluster ID,Game mode,Game type,Hero1,Hero2,Hero3,Hero4,Hero5,Hero6,...,Hero104,Hero105,Hero106,Hero107,Hero108,Hero109,Hero110,Hero111,Hero112,Hero113
0,-1,223,2,2,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,152,2,2,0,0,0,1,0,-1,...,0,0,0,0,0,0,0,0,0,0
2,1,131,2,2,0,0,0,1,0,-1,...,0,0,0,0,0,0,0,0,0,0
3,1,154,2,2,0,0,0,0,0,0,...,-1,0,0,0,0,0,0,0,0,0
4,-1,171,2,3,0,0,0,0,0,-1,...,0,0,0,0,0,0,0,0,0,0

In [94]:
y_train = train['Win']
x_train = train.loc[:, ['Hero%d' %(i+1) for i in range(113)]]
#x_train = train[['Hero%d' %(i+1) for i in range(113)]]
x_train['Game mode'] = train['Game mode']
x_train['Game type'] = train['Game type']

y_test = test['Win']
x_test = test.loc[:, ['Hero%d' %(i+1) for i in range(113)]]
#x_test = train[['Hero%d' %(i+1) for i in range(113)]]
x_test['Game mode'] = test['Game mode']
x_test['Game type'] = test['Game type']

x_train.head()

,Hero1,Hero2,Hero3,Hero4,Hero5,Hero6,Hero7,Hero8,Hero9,Hero10,...,Hero106,Hero107,Hero108,Hero109,Hero110,Hero111,Hero112,Hero113,Game mode,Game type
0,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,2,2
1,0,0,0,1,0,-1,0,0,0,0,...,0,0,0,0,0,0,0,0,2,2
2,0,0,0,1,0,-1,0,0,0,0,...,0,0,0,0,0,0,0,0,2,2
3,0,0,0,0,0,0,-1,0,0,0,...,0,0,0,0,0,0,0,0,2,2
4,0,0,0,0,0,-1,0,0,-1,0,...,0,0,0,0,0,0,0,0,2,3

In [5]:
from sklearn.linear_model import LogisticRegression
from sklearn import metrics

clf = LogisticRegression(fit_intercept=True,solver='lbfgs',C=1e15)
Regression = clf.fit(x_train, y_train)
Reg_result = Regression.predict(x_test)
accuracy = metrics.accuracy_score(Reg_result, y_test)
accuracy

0.597921119098504

In [8]:
train['Game mode'].value_counts()

2    71897
9    10033
8     8306
1     1229
6      498
3      386
4      208
7       81
5       12
Name: Game mode, dtype: int64

In [325]:
attr = ['Hero%d' %(i+1) for i in range(113) ]
q1 = 0
q2 = 0
q3 = 0
q4 = 0
number = []
for ele in attr :
    df_filter = train.loc[train[ele] != 0]
    df_filter[ele].value_counts()
    df_sort = df_filter.groupby(['Win', ele])
    if df_filter[ele].count() == 0:
        number.append(0)
        continue
    if 1 not in df_sort.size()[-1]:
        q1 = 0
    else:
        q1 = df_sort.size()[-1][1]
        
    if -1 not in df_sort.size()[-1]:
        q2 = 0
    else:
        q2 = df_sort.size()[-1][-1]
        
    if 1 not in df_sort.size()[1]:
        q3 = 0
    else:
        q3 = df_sort.size()[1][1]
        
    if -1 not in df_sort.size()[1]:
        q4 = 0
    else:
        q4 = df_sort.size()[1][-1]
        
    win = q2 + q3
    lose = q1 + q4
    if lose+win == 0:
        number.append(0)
    else:
        number.append(win/(lose+win))
number

[0.46697388632872505,
 0.5270430319778918,
 0.4500792393026941,
 0.5075200820372586,
 0.5476616915422886,
 0.5347465437788018,
 0.5015963107484924,
 0.5043940498135208,
 0.5532014478282576,
 0.5014785357397777,
 0.47050912584053795,
 0.45568057080131724,
 0.45014245014245013,
 0.517588828000707,
 0.46663477636928963,
 0.49759375283755564,
 0.48579739904175223,
 0.5415467731516824,
 0.44883003342761635,
 0.5245574337814455,
 0.43584605817729566,
 0.5459470304975923,
 0.4908147379346134,
 0,
 0.43872113676731794,
 0.47753551370994385,
 0.5347603042632231,
 0.5111233682662254,
 0.5200809464508095,
 0.5022488755622189,
 0.534020618556701,
 0.5455007625826132,
 0.5239901807632225,
 0.4691988233258349,
 0.5047464690900672,
 0.564451486625035,
 0.5416435313714603,
 0.4828411811652035,
 0.41954726215968186,
 0.5220316909051443,
 0.5047772602412517,
 0.5534763948497854,
 0.4699549323985979,
 0.5134554727870613,
 0.47251717676452215,
 0.4466181061394381,
 0.48889869136891634,
 0.5458300026645351,
 0.4984859954579864,
 0.5024706082807974,
 0.4980862464914519,
 0.44195751138088013,
 0.4164259182831201,
 0.4961572688293827,
 0.49568837347606304,
 0.4601889338731444,
 0.6085336538461539,
 0.39389638041163944,
 0.46564885496183206,
 0.5048786022237349,
 0.3760204081632653,
 0.47550522922072813,
 0.4935393970103876,
 0.5148960089938167,
 0.4495584693604496,
 0.4240506329113924,
 0.5538744901986581,
 0.5094088259783514,
 0.44913452778621316,
 0.537133487654321,
 0.5177528950138769,
 0.4461309523809524,
 0.4955671555224128,
 0.45879973661932083,
 0.549357326478149,
 0.49109002545707015,
 0.45671887881286066,
 0.4852374839537869,
 0.4712430426716141,
 0.38603174603174606,
 0.49414850686037126,
 0.4641133896260555,
 0.5222588623248146,
 0.5285822757348954,
 0.5032043674341324,
 0.45306068251228254,
 0.5133937562940584,
 0.5078357200756553,
 0.4515366430260047,
 0.5064714619138553,
 0.3555276381909548,
 0.44819819819819817,
 0.4939243243243243,
 0.526257938446507,
 0.5046204620462046,
 0.5477169443843324,
 0.45669148356637007,
 0.4880792771786651,
 0.4798035604665439,
 0.4229848363926576,
 0.46338773709748565,
 0.5467026231919588,
 0.5856687363651619,
 0.487123411636062,
 0.47484756097560976,
 0.42170770877944325,
 0.42609853528628494,
 0,
 0.4881453578550853,
 0.5126877265665458,
 0.4342055365946151,
 0.44640718562874254,
 0.4332774986041318]

In [318]:
attr = ['Hero%d' %(i+1) for i in range(113) ]
df_filter = train.loc[train[attr[107]] != 0]
df_filter[attr[107]].value_counts()
df_sort = df_filter.groupby(['Win', attr[107]])
#win = df_sort.size()[-1][-1] + df_sort.size()[1][1]
#lose =  df_sort.size()[1][-1] + df_sort.size()[-1][1]
df_filter[attr[107]].count() == 0

True